<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/home.css" />

<h1>Welcome, <%= user.displayName %></h1>
<h4 class="user-profile">
  <img src="<%= user.photo %>" alt="User Photo">
  <%= user.email %>
</h4>
<a id="logout" href="/logout">Logout</a>
<br>
<br>
<a id="new" href="/file/new">Create New File</a>



<ul id="list">
  <% files.forEach(file => { %>
  <li><a href="/file/<%= file._id %>"><%= file.title %></a></li>
  <% }) %>
</ul>

